*{
  box-sizing: border-box;

}

body {
      margin: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: radial-gradient(circle at top, #1b1b1b, #000);
      font-family: 'Share Tech Mono', monospace;
      color: white;
}

h1 {
  margin-bottom: 0px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.8;
}

.countdown {
  display: flex;
  gap: 25px;
}

.unit {
  text-align: center;
}

.flip-card {
  background: #111;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6),
    inset 0 2px 2px rgba(255, 255, 255, 0.05);
  width: 120px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  position: relative;
  overflow: hidden;
}

.flip-card::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.08);
}

.label {
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.6;
}

.number {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.flip {
  transform: rotateX(90deg);
  opacity: 0;
}
